* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {

	background: url('../img/papers.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
}
.contenedor {
	width: 90%;
	max-width: 700px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items:center;
}
.tarjeta {
	margin:40px 0;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1000;
}
/* --------------------------------------- */
/* ----- Slider Banner */
/* --------------------------------------- */
.slider-banner {
	overflow: hidden;
	z-index: 1000;
	position: relative;
}
.slider-banner .banner {
	position: relative;
	width: 100%;
}
.slider-banner .banner img {
	vertical-align: top;
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
}
.slider-banner .flecha-banner {
	font-size: 35px;
	line-height: 35px;
	color: rgba(0,0,0,.2);
	position: absolute;
	top:50%;
	z-index: 1100;
}
.slider-banner .flecha-banner:hover {
	color: rgba(0,0,0,.5);
}
.slider-banner .flecha-banner.anterior {
	left: 20px;
}
.slider-banner .flecha-banner.siguiente {
	right: 20px;
}
/* --------------------------------------- */
/* ----- Informacion del Slider */
/* --------------------------------------- */
.slider-info {
	text-align: center;
	overflow: hidden;
	padding: 20px 0;
	z-index: 1000;
	position: relative;
}
/* Seccion Informacion */
.slider-info .informacion {
	width: 100%;
}
.slider-info .informacion article {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.slider-info .informacion article .slide{
	background: #fff;
	width: 100%;
	left: 100%;
	padding: 20px 80px;
	position: absolute;
}
/* Slider Flechas */
.slider-info .flecha-info {
	font-size: 35px;
	line-height: 35px;
	color: #e6e6e6;
	position: absolute;
	top:50%;
	z-index: 1000;
}
.slider-info .flecha-info:hover {
	color:#404040;
}
.slider-info .flecha-info.anterior {
	left: 20px;
}
.slider-info .flecha-info.siguiente {
	right: 20px;
}
/* Estilos para los Slide de Info */
.slider-info .nombre {
	color: #444444;
	font-size: 38px;
	line-height: 38px;
	font-weight:600;
	margin-bottom: 16px;
}
.slider-info .trabajo {
	color: #888888;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 16px;
}
.slider-info .pais {
	color: #8d8d8d;
	font-family: 14px;
	line-height: 14px;
}
.slider-info .pais img {
	position: relative;
	top:2px;
	margin-right: 10px;
}
.slider-info .texto {
	color: #888888;
	font-size: 18px;
	line-height: 24px;
}
.slider-info .subtitulo {
	color: #444444;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 16px;
}
/* Botones Slider Info */
.slider-info .botones {
	width: 100%;
}
.slider-info .botones span {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 0 10px;
	border-radius: 50%;
	background:#e6e6e6;
}
.slider-info .botones .active {
	background: #404040;
}
/* ----- ----- Redes Sociales ----- ----- */
.sociales {
	text-align: center;
	padding: 20px 0;
}
.sociales a {
	display: inline-block;
	font-style:40px;
	width: 50px;
	height: 50px;
	font-line:20px;
	padding: 14px 0;
	border-radius: 50%;
	color: #000000;
	margin: 0 10px;
}
